@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #0d1117;   /* GitHub dark background */
  font-family: 'Poppins', sans-serif;
  color: #e6edf3;
}
.container {
  display: flex;
  min-height: 100vh;
}


/* LEFT SIDE */
.sidebar {
  width: 280px;
  background: #161b22;
  padding: 40px 30px;
  border-right: 1px solid #21262d;
}

.profile-img {
  width: 120px;
  border-radius: 50%;
  margin-bottom: 15px;
  border: 3px solid #facc15;  /* Yellow accent */
}

.sidebar h2 {
  font-weight: 600;
}

.role {
  color: #facc15;
  margin: 10px 0 20px;
  font-size: 14px;
}

.info {
  margin-top: 25px;
  text-align: left;
}

.info p {
  font-size: 13px;
  margin-bottom: 18px;
  color: #8b949e;
  line-height: 1.5;
}

.info strong {
  color: #facc15;
  font-weight: 500;
}

/* RIGHT SIDE */
.main-content {
  flex: 1;
  padding: 60px;
}
/* TABS */
.tabs {
  display: flex;
  gap: 15px;
  margin-bottom: 30px;
}

.tab-btn {
  padding: 8px 18px;
  background: #21262d;
  border: none;
  color: #c9d1d9;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s ease;
}

.tab-btn:hover {
  background: #30363d;
}

.tab-btn.active {
  background: #facc15;
  color: black;
}

/* CONTENT SECTIONS */
.tab-content {
  display: none;
  animation: fadeIn 0.3s ease-in-out;
}

.tab-content.active {
  display: block;
}

h3 {
  margin-bottom: 15px;
}

/* SKILLS */
.skills span {
  display: inline-block;
  background: #21262d;
  padding: 6px 15px;
  border-radius: 20px;
  margin: 5px;
  font-size: 13px;
  transition: 0.3s;
}

.skills span:hover {
  background: #facc15;
  color: black;
}

/* PROJECT CARDS */
.project-card {
  background: #161b22;
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 20px;
  border: 1px solid #21262d;
  transition: 0.3s ease;
}

.project-card:hover {
  transform: translateY(-5px);
  border-color: #facc15;
}

/* CONTACT */
form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 400px;
}

input, textarea {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #30363d;
  background: #0d1117;
  color: white;
}

input:focus, textarea:focus {
  outline: none;
  border-color: #facc15;
}

button {
  padding: 10px;
  background: #facc15;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
}

button:hover {
  opacity: 0.9;
}

/* Fade animation */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    border-right: none;
    border-bottom: 1px solid #21262d;
  }
}